#greet {
    background-color: black;
    display: flex;
    justify-content: center;
}

#hi {
    background-color:white;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.restart{
    background-color:white;
    color: black;
    border-style: none;
    padding: 20px;
    margin-top: 20px;
    width: 25%;
    margin-top:10px ;
}
.kok{
    display: flex;
    justify-content: center;
}
.box{
    width: 100px;
    height: 100px;
    background-color: greenyellow;
    margin: 2px;
    
}
.class{
    display: flex;
    justify-content: center;
}
.mom{
    background-color: grey;
}